.homepage-main{

}


.grayscale{
    /**  格式，filer: grayscale(效果范围)
     *  效果范围，取值范围为0-1或0-100%；0表示无效果，1或100%表示最大效果
     */
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}


.blur{
    /**  格式，filer: blur(模糊半径)
     *  模糊半径，取值范围0~Npx，0为无效果
     */
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#main-nav{
    margin: 0px;
    opacity: 1;

    opacity: 0.8;
    border: none;

    height: 30px;

    z-index: 2000;

}

#main-nav li:hover a{
    color: gainsboro;
}



#header-logo{

    margin-left: 20%;
    height: 100%;
}

#header-logo img{
    height: auto;
    width: 100px;
    margin: -10%;
}
#header-link{
    padding-right: 0px;
    opacity: 1;

}




#header-link li:hover a{

}


.homepage{
    background: url("../img/headbg02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 1;


}



.header-content{
    width: auto;
    height: 666px;



}

.header-line {

    padding-top: 15% ;
    font-size: 200%;
    color: white;
}

.header-line h1{
    font-size: 200%;
}

.header-subheadline{
    font-size: 200%;
    line-height: 3em;
    color: white;
}

.homepage-s2{
    height: 4000px;
    background: WHITE;
    opacity: 1;
}

.homepage-s1{
    background: #ffffff;
    padding: 30px 0;
}

.homepage-s1 ul{
    width: 100%;
}
.homepage-s1 ul li{
    width: 15%;
}

.homepage-s1 img{
    width: 100%;
}



.homepage-s1 li:hover img{

    /**  格式，filer: grayscale(效果范围)
     *  效果范围，取值范围为0-1或0-100%；0表示无效果，1或100%表示最大效果
     */
    -webkit-filter: none;
    -o-filter:none;
    -moz-filter:none ;
    -ms-filter: none;
    filter: none;

}
.affix-top {
    background-color: transparent;
    opacity: 0.3;
}
 .affix{
     background: black;
     width: 100%;
    text-align: center;


}

button.contact-me {

     position: fixed;
     bottom: 100px;
     z-index: 9990;
     background: none;
     border: none;
    transition: 0.3s;
}

header .navbar-default button.contact-me {

    right:-200px;
}

header .affix button.contact-me {

     right: 0;
}

section.section-block {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

}

section.section-block .pushed-img {
    text-align: right;
    position: absolute;
    right: 0;
    max-width: 50vw;
    bottom: 0;
    width: 50%;
    overflow: hidden;
    height: 95%;
}

section .section-title h2{
    padding: 60px 0px;
    font-size: 200%;
    line-height: 3em;
}

section .section-describe {
    font-size: 20px;
    padding-bottom: 150px;
}



section.homepage-s3{
    background-color: #E4E6E5;
}


section.homepage-s4{

;
}

section.section-imgbg{
    background:url("../img/light_37-wallpaper-1280.jpg") ;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    overflow: hidden;
    background-color: #0086b3;
z-index: 200;
}

section.homepage-s4 {
    color: white;
}


section.homepage-s5{
    height: 15px;
    background: #000000;
    opacity: 0.7;
}


@keyframes moveup {
    0% {transform: translate(0px,0px) ; }

    50% {transform: translate(0px,-200px) scale(1.3,1.3); }


}

@-moz-keyframes moveup /* Firefox */
{ 0% {transform: translate(0px,0px) ; }

    50% {transform: translate(0px,-200px) scale(1.3,1.3); }

}

@-webkit-keyframes moveup /* Safari 和 Chrome */
{
    0% {transform: translate(0px,0px) ; }

    50% {transform: translate(0px,-200px) scale(1.3,1.3); }

}

@-o-keyframes moveup /* Opera */
{
    0% {transform: translate(0px,0px) ; }

    50% {transform: translate(0px,-200px) scale(1.3,1.3); }

}


section.homepage-s2 .pushed-img img{
    animation: moveup 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;



    -moz-animation: moveup 20s;	/* Firefox */
    -webkit-animation: moveup 20s;/* Safari 和 Chrome */
    -o-animation: moveup 20s;
    －moz-animation-iteration-count: infinite;
    －webkit-animation-iteration-count: infinite;
    －o-animation-iteration-count: infinite;
}



@keyframes bigger {
    50%  {transform: scale(1.2,1.2) rotate(4deg);}

}

@-moz-keyframes bigger {
    50%  {transform: scale(1.2,1.2) rotate(4deg);}
}
@-webkit-keyframes bigger {


    50%  {transform: scale(1.2,1.2) rotate(4deg);}
}

@-o-keyframes bigger {
     50%  {transform: scale(1.2,1.2) rotate(4deg);}
 }



section.homepage-s3 .pushed-img img{
    animation: bigger 20s;
    animation-iteration-count: infinite;

    -moz-animation: bigger 20s;	/* Firefox */
    -webkit-animation: bigger 20s;	/* Safari 和 Chrome */
    -o-animation: bigger 20s;
    －moz-animation-iteration-count: infinite;
    －webkit-animation-iteration-count: infinite;
    －o-animation-iteration-count: infinite;

}


.header-content  button a{
    text-decoration: none;
    color: white;
}